*{
    background-color: #152266;
    
}

.App{
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100vh;
}

.container-comps{
    height: 25rem;
    width: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-comps > p{
    font-size: 3rem;
    color: #F8F8FF;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 1rem;
}


.input-div{
    display: flex;
    
}

